<!-- Footer -->
<footer class="page-footer font-small blue pt-0  color-informacion">

      <!-- Social buttons -->
      <div class="primary-color redes-color">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center ">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h4 class="mb-0 white-text">Siguenos en nuestras redes sociales!</h4>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0">
                        <i>
                          <img src="../../assets/img/png/f.png" class="redes-ic">
                        </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i>
                            <img src="../../assets/img/png/t.png" class="redes-ic">
                        </i>
                    </a>
                    <!--inst +-->
                    <a class="gplus-ic">
                        <i>
                            <img src="../../assets/img/png/ins.png" class="redes-ic">
                        </i>
                    </a>
                    <!--whatsapp-->
                    <a class="li-ic">
                        <i>
                            <img src="../../assets/img/png/whatsapp.png" class="redes-ic">
                        </i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>
    <!-- Social buttons -->

  <!--Footer Links-->
<div class="container mt-5 mb-4 text-center text-md-left">
  <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <h6 class="text-uppercase ">
              <strong>Hosting y Desarrollo</strong>
          </h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto linea" style="width: 60px;">
          <p class="texto-claro">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quam dolor odio
             neque unde esse fugiat quo, minima consectetur, expedita dicta ullam quia suscipit</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase ">
              <strong>Productos</strong>
          </h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="texto-claro">
              <a href="#">Planes Hosting</a>
          </p>
          <p class="texto-claro">
              <a href="#">Desarrollo Web</a>
          </p>
          <p class="texto-claro">
              <a href="#">Diseño Aplicaciones Mobiles</a>
          </p>
          <p class="texto-claro">
              <a href="#">Redacción De Contenido</a>
          </p>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase ">
              <strong>Useful links</strong>
          </h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="texto-claro">
              <a href="#!">Mi cuenta</a>
          </p>
          <p class="texto-claro">
              <a href="#!">Unirse a nuestro equipo</a>
          </p>
          <p class="texto-claro">
              <a href="#!">Noticias</a>
          </p>
          <p class="texto-claro">
              <a href="#!">Ayuda</a>
          </p>
      </div>
      <!--/.Third column-->

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3">
          <h6 class="text-uppercase ">
              <strong>Contact</strong>
          </h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="texto-claro">
              <i class="fas fa-home  mr-3"></i> Lima, LM 10012, Perú</p>
          <p class="texto-claro">
              <i class="fas fa-envelope mr-3"></i> info@example.com</p>
          <p class="texto-claro">
              <i class="fas fa-phone mr-3"></i> + 51 912 510 977</p>
          <p class="texto-claro">
              <i class="fas fa-print mr-3"></i> + 51 912 510 977</p>
      </div>
      <!--/.Fourth column-->

  </div>
</div>
<!--/.Footer Links-->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 color-copyri">© 2019 Copyright:
    <a href="#"> Paginaweb.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->