.redes-color{
    background-color: #2c4efc;
    color: #fff;
}

.redes-ic{
    max-width: 40px;
    margin-left: 10px;
}

.color-informacion{
    background-color: #1d2333;
    color: #fff;
}

.color-copyri{
    background-color: #161c2a;
}

.texto-claro{
    color: #c5c9d3;
}

.linea{
    width: 60px;
}
