<div class="container-fluid bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-light bg-light container" >
  <a class="navbar-brand" href="#">
    <a class="navbar-brand" href="#">
      <img src="assets/img/png/logo-server.png" width="40" height="40" class="d-inline-block align-top" alt="">
      Bootstrap
    </a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Precing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-4" href="#">Disabled</a>
        </li>
    </ul>
    <div><a href="#" class="btn btn-color" >Contacto</a></div>
  </div>
</nav>
</div>
