<!--The content below is only a placeholder and can be replaced.-->
<app-menu></app-menu>
<app-inicio></app-inicio>
<app-servicios></app-servicios>
<app-informacion></app-informacion>
<app-portafolio></app-portafolio>
<app-precios></app-precios>
<app-footer></app-footer>

<router-outlet></router-outlet>
