.titulo-portafolio{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.portafolio-titulo2{
    margin-bottom: 60px;
}

.icon-usuario{
    max-width: 100px;
}

.center{
    text-align: center;
}

.redes{
    max-width: 40px;
    margin: 0px;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400px;
    color: #777;
}

.texto-h1{
    font-size: 36px;
    color: #555;
    font-weight: bold;
}

.texto-h3{
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.contacto-img{
    margin-top: -50px;
}


.team-p{
    font-weight: 500;
}

.card-1{
    border-radius: 0;
    box-shadow: 5px 5px 15px #00000041;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.card-1:hover{
    background: #1b35b0;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
}

.card:hover h3{
    color: #fff;
}

