<body>
  <section id="item">
    <div class="container my-3 py-5 text-center">
      <div class="row mb5">
        <div class="col">
          <h1 class=".texto-h1">Nuestro equipo</h1>
          <p class="mt-3 portafolio-titulo2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum sed iusto et. Necessitatibus nam at, nostrum quasi sint inventore dolorem dolores non suscipit voluptate, ad, eligendi odio dolor rem est.</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card card-1">
              <div class="card-body">
                <img src="../../assets/img/png/usuario.png" alt="" class="img-fluid rounded-circle w-50 mb-3 contacto-img">
                <h3 class="texto-h3">Evert Ortiz</h3>
                <h5>Lear whither</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sequi quam? Quia quam excepturi soluta ab, fugit quo architecto, non nostrum repellat sapiente sequi quas dolores odit iusto esse quos.</p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/facebook.png" class="redes">
                    </a>
                  </div>
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/gorjeo.png" class="redes">
                    </a>
                  </div>
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/instagram.png" class="redes">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-1">
              <div class="card-body">
                <img src="../../assets/img/png/usuario.png" alt="" class="img-fluid rounded-circle w-50 mb-3 contacto-img">
                <h3 class="texto-h3">Ender Ortiz</h3>
                <h5>Lear whither</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sequi quam? Quia quam excepturi soluta ab, fugit quo architecto, non nostrum repellat sapiente sequi quas dolores odit iusto esse quos.</p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/facebook.png" class="redes">
                    </a>
                  </div>
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/gorjeo.png" class="redes">
                    </a>
                  </div>
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/instagram.png" class="redes">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-1">
              <div class="card-body">
                <img src="../../assets/img/png/usuario.png" alt="" class="img-fluid rounded-circle w-50 mb-3 contacto-img">
                <h3 class="texto-h3">Katrine Ortiz</h3>
                <h5>Lear whither</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sequi quam? Quia quam excepturi soluta ab, fugit quo architecto, non nostrum repellat sapiente sequi quas dolores odit iusto esse quos.</p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/facebook.png" class="redes">
                    </a>
                  </div>
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/gorjeo.png" class="redes">
                    </a>
                  </div>
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/instagram.png" class="redes">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-1">
              <div class="card-body">
                <img src="../../assets/img/png/usuario.png" alt="" class="img-fluid rounded-circle w-50 mb-3 contacto-img">
                <h3 class="texto-h3">Alvilyn</h3>
                <h5>Lear whither</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sequi quam? Quia quam excepturi soluta ab, fugit quo architecto, non nostrum repellat sapiente sequi quas dolores odit iusto esse quos.</p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/facebook.png" class="redes">
                    </a>
                  </div>
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/gorjeo.png" class="redes">
                    </a>
                  </div>
                  <div class="p-2">
                    <a href="#">
                      <img src="../../assets/img/png/instagram.png" class="redes">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>