<div class="container titulo-servicio">
  <h1>Lorem ipsum dolor sit amet consectetur</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card mb-3 card-color">
        <div class="card-body d-flex align-items-end flex-column">
            <img src="../../assets/img/png/escudo.png" class="icon-card">
            <p class="card-text texto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam magnam necessitatibus quos maxime facere illo aliquid inventore ut repellat, rerum optio error? Sed quo reprehenderit, cumque exercitationem voluptatum cum?</p>
        </div>
      </div>
      <div class="card card-margen card-color">
          <div class="card-body d-flex align-items-end flex-column">
              <img src="../../assets/img/png/precio.png" class="icon-card">
              <p class="card-text texto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam magnam necessitatibus quos maxime facere illo aliquid inventore ut repellat, rerum optio error? Sed quo reprehenderit, cumque exercitationem voluptatum cum?</p>
          </div>
        </div>
    </div>
      <div class="col-4">
        <div class="container">
          <img src="../../assets/img/png/phone.png" class="telefono">
        </div>
      </div>
    <div class="col-4">
          <div class="card card mb-3 card-color">
            <div class="card-body d-flex align-items-start flex-column">
                <img src="../../assets/img/png/server.png" class="icon-card">
                <p class="card-text texto2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam magnam necessitatibus quos maxime facere illo aliquid inventore ut repellat, rerum optio error? Sed quo reprehenderit, cumque exercitationem voluptatum cum?</p>
            </div>
          </div>
          <div class="card card-margen card-fondo card-color">
              <div class="card-body d-flex align-items-start flex-column">
                  <img src="../../assets/img/png/soporte.png" class="icon-card">
                  <p class="card-text texto2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis quibusdam magnam necessitatibus quos maxime facere illo aliquid inventore ut repellat, rerum optio error? Sed quo reprehenderit, cumque exercitationem voluptatum cum?</p>
              </div>
          </div>
    </div>
  </div>
</div>

