.telefono{
    max-width: 230px;
    padding-top: 40px;
    margin-left: 45px;
}
.titulo-servicio{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.texto1{
    text-align: right;
}

.texto2{
    text-align: left;
}

.icon-card{
    max-width: 80px;
    margin-bottom: 15px;
}

.card-color{
    background-color: #9e9e9e07;
}

.card-color:hover{
    background-color: #6596ec70;

}
