<div class="container">
  <div class="titulo2">
    <h1>¿Por qué los líderes de la industria eligen ServerPeru?</h1>
  </div>
  <div class="contenedor">
    <div class="row">
      <div class="col-4">
        <div class="card informacion-fondo">
          <div class="card-body text-aling-center">
            <div>
                <img src="../../assets/img/png/entrega.png" class="icon-informacion">
                <h2 class="titulo3">Entrega de datos 100%</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad optio molestias laboriosam sed sunt quo asperiores. Ut, commodi esse. Consectetur quae, corporis expedita saepe reprehenderit odit dolorem delectus enim rem.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
          <div class="card informacion-fondo">
              <div class="card-body text-aling-center">
                <div>
                    <img src="../../assets/img/png/escala.png" class="icon-informacion">
                    <h2 class="titulo3">Soluciones escalables</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad optio molestias laboriosam sed sunt quo asperiores. Ut, commodi esse. Consectetur quae, corporis expedita saepe reprehenderit odit dolorem delectus enim rem.</p>
                </div>
              </div>
            </div>
      </div>
      <div class="col-4 informacion-fondo">
          <div class="card">
              <div class="card-body text-aling-center">
                <div>
                    <img src="../../assets/img/png/estrella.png" class="icon-informacion">
                    <h2 class="titulo3">Asociaciones de alto perfil</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad optio molestias laboriosam sed sunt quo asperiores. Ut, commodi esse. Consectetur quae, corporis expedita saepe reprehenderit odit dolorem delectus enim rem.</p>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
