.titulo2{
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 30px;
    text-align: center;
}
.informacion-fondo{
    background-color: #9e9e9e07
}

.titulo3{
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
}

.icon-informacion{
    max-width: 120px;
}

.text-aling-center{
    text-align: center;
}

