#plx{
    background-image: url(../../assets/img/jpg/virtualizacion.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wtitle{
    padding: 150px 20px;
}

.card-border{
    border-radius: 40px;
}

.ancho{
    max-width: 800px;
}

.texto-h2{
    font-size: 36px;
    color: rgb(27, 27, 27);
    font-weight: bold;
}

.btn-empezar{
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1b35b0;
    color: aliceblue;
    border: 5px rgb(0, 0, 0);
    border-radius: 20px;  
}

.btn:hover{
    background-color: #2c4efc;
}

.database-icon{
    max-width: 75px;
    text-align: center;
}

.planes{
    color: rgb(0, 0, 0);
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}