<section id="plx">
  <div class="container">
    <div class="wtitle text-center text-light">
          <div class="container">
            <div class="row">
              <div class="col-3">
                <div class="card">
                  <div class="card-body card-border">
                    <h2 class="texto-h2">Entrada</h2>
                    <img src="../../assets/img/png/database1.png" class="database-icon">
                    <div>
                      <ul class="planes">
                        <li>400MB</li>
                        <li>4GB de Transferencia</li>
                        <li>200 Correos corporativos</li>
                      </ul>
                    </div>
                    <button class="btn btn-empezar" type="submit">Empezar</button>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <div class="card-body card-border">
                    <h2 class="texto-h2">Avanzado</h2>
                    <img src="../../assets/img/png/database2.png" class="database-icon">
                    <div>
                      <ul class="planes">
                        <li>400MB</li>
                        <li>4GB de Transferencia</li>
                        <li>200 Correos corporativos</li>
                      </ul>
                    </div>
                    <button class="btn btn-empezar" type="submit">Empezar</button>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <div class="card-body card-border">
                    <h2 class="texto-h2">Profesional</h2>
                    <img src="../../assets/img/png/database3.png" class="database-icon">
                    <div>
                      <ul class="planes">
                        <li>400MB</li>
                        <li>4GB de Transferencia</li>
                        <li>200 Correos corporativos</li>
                      </ul>
                    </div>
                    <button class="btn btn-empezar" type="submit">Empezar</button>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <div class="card-body card-border">
                    <h2 class="texto-h2">Premium</h2>
                    <img src="../../assets/img/png/database4.png" class="database-icon">
                    <div>
                      <ul class="planes">
                        <li>400MB</li>
                        <li>4GB de Transferencia</li>
                        <li>200 Correos corporativos</li>
                      </ul>
                    </div>
                    <button class="btn btn-empezar" type="submit">Empezar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>     
    </div>
  </div>
</section>
