.slider{
    background-image: url('../../assets/img/jpg/servidores-fondo.jpg');
    background-size: cover;
    min-height: 400px;
}

.margin{
    margin-top: 30px;
    color: #ffffff;
}

.gris{
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.603);
    color: #ffffff;
}

.boton1{
    background-color: #004e9b00;
    text-align: center;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 20px;
    width: 200px;
    border-color: #ffffff;
}
.boton1:hover{
    background-color: #ffffff;
    text-align: center;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 20px;
    width: 200px;
    border-color: #ffffff;   
    color: #000000;
}
.boton2{
    background-color: #1a2d94;
    color: aliceblue;
    border-radius: 20px;
    text-align: center;
    margin-left: 10px;
    margin-top: 30px;
    width: 200px;
}
.boton2:hover{
    background-color: #3648b1;
    color: aliceblue;
    border-radius: 20px;
    text-align: center;
    margin-left: 10px;
    margin-top: 30px;
    width: 200px;    
}

.azul-base{
    color: 10205e;
}