<div class="container-fluid slider p-3">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="text-left margin">
          <h2>Lorem ipsum dolor sit amet</h2>
          <div class="container gris p-4">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, exercitationem! Consequatur, maiores optio possimus quis natus, id inventore, ipsa provident facere nulla temporibus quia ducimus qui cupiditate. Illo, voluptas hic.</h3>
          </div>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-primary boton1">Lorem ipsum dolor</button>
          <button type="button" class="btn btn-light boton2">Lorem ipsum</button>
          </div>
        </div>
      </div>
      <div class="col-5"></div>
    </div>
  </div>
</div>
